<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>B|G Portfolio</title>

<!--    static/vue-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'MyPortfolio/styles.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--    fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2bb3211b29.js" crossorigin="anonymous"></script>

</head>

<body>

{% block content %}
{% endblock %}

</body>
</html>